@import-normalize;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  color: #006181;
}

button {
  border: none;
  cursor: pointer;
  background-color: #33ccff;
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

button:hover,
button:active,
button:focus {
  background-color: #01bdfb;
}
