.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm input {
  border: none;
  background-color: #e6f9ff;
  border-bottom: 1px solid #33ccff;
  margin-bottom: 1.25rem;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
}

.LoginForm ::placeholder,
.LoginForm ::-webkit-input-placeholder {
  opacity: 0.5;
}

.LoginForm label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
